logs/*
!logs/.gitkeep

*.csv
*.txt
*.log
*.json

rapport/analyse_logs/*
!rapport/analyse_logs/.gitkeep

rapport/audit_securite/*
!rapport/audit_securite/.gitkeep

rapport/inventaire/*
!rapport/inventaire/.gitkeep

rapport/rgpd/*
!rapport/rgpd/.gitkeep

rapport/sauvegarde/*
!rapport/sauvegarde/.gitkeep

rapport/supervision/*
!rapport/supervision/.gitkeep